.App {
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 1077px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}
.input__box {
    display: flex;
    width: 1077px;
}
.input__box input {
    border: none;
    width: 631px;
    height: 52px;
    background-color: #5A5C66;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
    color: #B2B7BF;
    font-size: 14px;
    background-image: url(./images/input__image.png);
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-position-x: 97%;
}
.input__box input:focus {
    background-image: none;
}
.table__box {
    display: flex;
    flex-direction: column;
}
.table__header {
    width: 1077px;
    height: 54px;
    background-color: #474955;
    display: flex;
    justify-content: space-between;
}
.select {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #474955;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    outline: none;
    appearance: none;
    background-image: url(./images/select__image.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 19.28px;
}
.select:hover {
    cursor: pointer;
}
#id {
    width: 100px;
    justify-content: left;
    padding-left: 15px;
    background-position-x: 65px;
}
#name {
    width: 500px;
    background-position-x: 330px;
}
#description {
    width: 477px;
    background-position: 300px;
}
.table__content .row {
    display: grid;
    grid-template-columns: 100px 500px 477px;
}
.description__column {
    box-sizing: border-box;
    padding: 15px;
}
.table__content div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: "Roboto";
    color: #474955;
    font-weight: 500;
    height: 100px;
    border: 1px solid #E3E6EC;
}
.footer__box {
    display: flex;
    justify-content: space-between;
}
.footer__box div {
    font-family: "Roboto";
    font-size: 20px;
    color: #474955;
    line-height: 33px;
    font-weight: 500;
    text-align: center;
}
.back__button {
    width: 100px;
}
.numbers {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 877px;
}
.numbers div:hover {
    cursor: pointer;
    color: green;
}
.next__button {
    width: 100px;
}
.back__button:hover {
    color: green;
    cursor: pointer;
}
.next__button:hover {
    color: green;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .App {
        justify-content: center;
    }
    .wrapper {
        width: 900px;
    }
    .input__box {
        width: 700px;
    }
    .table__box {
        width: 900px;
    }
    .table__content {
        width: 900px;
    }
    .table__header {
        width: 900px;
    }
    .footer__box {
        width: 900px;
    }
    .table__content .row {
        text-align: center;
        grid-template-columns: 100px 400px 400px;
    }
}
@media screen and (max-width: 940px) {
    .wrapper {
        width: 600px;
    }
    .input__box {
        width: 400px;
    }
    .table__box {
        width: 600px;
    }
    .table__content {
        width: 600px;
    }
    .table__header {
        width: 600px;
    }
    .footer__box {
        width: 600px;
    }
    .table__content .row {
        grid-template-columns: 100px 250px 250px;
        height: inherit;
    }
}
@media screen and (max-width: 700px) {
    .wrapper {
        width: 400px;
    }
    .input__box {
        width: 200px;
    }
    .table__box {
        width: 400px;
    }
    .table__content {
        width: 400px;
    }
    .table__header {
        width: 400px;
    }
    .footer__box {
        width: 400px;
    }
    .table__content div {
        height: 200px;
    }
    .table__content .row {
        grid-template-columns: 100px 150px 150px;
    }
}